asgiref==3.10.0
attrs==25.4.0
autobahn==23.6.2
Automat==25.4.16
cbor2==5.8.0
cffi==2.0.0
channels==4.3.2
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
Django==4.2.27
django-cors-headers==4.9.0
djangorestframework==3.16.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
msgpack==1.1.2
ngrok==1.4.0
packaging==26.0
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
service-identity==24.2.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==23.6.1
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
whitenoise==6.11.0
zope.interface==7.2
